@charset "UTF-8";

body {
    background-color: #EAE6FF;
}

body a {
    color: blue;
}
body a:hover {
    color: red;
}

.titlePage a {
    background-color: transparent;
    color: black;
}
.titlePage a:hover {
    background-color: transparent;
    color: blue;
}

.summaryIndex {
    /*background-color: #D1CDFF;*/
    background-color: #C1E2CB;
}

.sectionStyle {
    background-color: #C1E2CB;
}
.winSection {
    background: linear-gradient(#85D2A9, #D6FEEC);
}

.mysites {
    background-color: #C1E2CB;
}

/* Botones */
.btn {
    /*background-color: #E0E0E0;*/
    background: linear-gradient(#FFFFFF, #BBBBBB);
    color: black;
}
.btn:hover {
    background: #BBBBBB;
    color: black;
}
.btn:active {
    background: #CCCCCC;
    color: black;
}
.btn2 {
    /*background-color: #E0E0E0;*/
    background: linear-gradient(#FFFFFF, #BBBBBB);
    color: black;
}
.btn2:hover {
    background: #BBBBBB;
    color: black;
}
.btn2:active {
    background: #CCCCCC;
    color: black;
}

