@charset "UTF-8";

[class*="col-"] {
    padding: 10px;
}
[class*="inCol-"] {
    padding: 2px;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}

body a {
    text-decoration: none;
}

.titlePage a {
    text-decoration: none;
}
.titlePage a:hover {
    text-decoration: none;
}

.summaryIndex {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    /*padding: 10px;*/
    padding: 8px 20px;
    width: 100%;
    text-align: justify;
}
.summaryIndex img {
    /*border: 1px solid black;*/
    float: left;
    width: 120px;
    height: 120px;
}

.sectionStyle {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: justify;
    position: relative;
    display: inline-block;
}
.sectionStyle img {
    /*border: 1px solid blue;*/
    padding: 2px;
    vertical-align: middle;
}
.contactInfo {
    /*border: 1px solid black;*/
    width: 60%;
    display: block;
    margin: auto;    
}
.winSection {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    height: 220px;
    text-align: left;
}

.icons {
    /*border: 1px solid red;*/
    font-weight: bold;
    padding: 2px 4px 2px 0px;
}
.icons img:hover {
    transform: scale(1.1, 1.1);
}
.iconSquare {
    width: 54px;
    height: 54px;
}
.iconHorizontal {
    width: 114px;
    height: 30px;
    margin-left: 4px;
}
.mySites {
    font-size: 1.1em;
}
.mySites ul {  
    line-height: 2em;
}
/* Botones */
.boldSpace {
    font-weight: bold;
    line-height: 200%;
}
.btn {
    border: 1px solid black;
    border-radius: 6px;
    font-family: Courier New, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0px 8px;
    padding: 4px 14px;
    display: inline-block;
}
.btn:active {
    font-size: 0.96em;
    margin: 0px 5.5px;
}
.btn2 {
    border: 1px solid black;
    border-radius: 6px;
    font-family: Courier New, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0px 2px;    
    padding: 0px 14px;
    display: inline-block;
}
.btn2:active {
    font-size: 0.95em;
    margin: 0px 2px 0px -1px;
}


/* Small Design */
@media only screen and (max-width: 640px) {
    .contactInfo {
        width: 100%;
        display: block;
        margin: auto;    
    }
}
/* Medium Design */
@media only screen and (min-width: 641px) and (max-width: 960px) {
    .contactInfo {
        width: 80%;
        display: block;
        margin: auto;    
    }	
}
/* Normal Design */
@media only screen and (min-width: 961px) and (max-width: 1400px) {
    .contactInfo {
        width: 60%;
        display: block;
        margin: auto;    
    }	
}
/* Big Design */
@media only screen and (min-width: 1401px) {
    .contactInfo {
        width: 60%;
        display: block;
        margin: auto;    
    }
}


